.why-us {
	&-wrapper {
		background: #1c1c1c;
		padding: 56px 0;
		@media screen and (max-width: 768px) {
			padding: 48px 0;
		}
		@media screen and (max-width: 480px) {
			padding: 40px 0;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		@media screen and (max-width: 1024px) {
			grid-gap: 20px;
		}
		@media screen and (max-width: 480px) {
			grid-gap: 12px;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		text-align: center;
		& h2 {
			font-family: 'CormorantGaramond-Regular', serif;
			font-weight: 400;
			font-size: 28px;
			color: #fff;
			margin-bottom: 6px;
		}
		& p {
			font-weight: 400;
			font-size: 12px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #8e8881;
			margin-bottom: 0;
		}
	}
}