//@import "../default/_fonts.scss";

body {
	overflow-x: hidden;
	font-family: "Inter_18pt-Regular", sans-serif;
	background: #ffffff;
}

.container {
	max-width: 1304px;
}

input::-webkit-autofill,
input::-webkit-contacts-auto-fill,
input::-webkit-credentials-auto-fill {
	opacity: 0 !important; /* Робить автозаповнення невидимим */
	background-color: transparent !important;
	color: inherit !important;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
.filter select {
	-webkit-appearance: none;
	appearance: none;
}

.wrapper {
	flex: 1 0;
}

select {
	font-size: 16px;
	line-height: normal;
	font-weight: 400;
	color: #444;
	background-color: #fff;
	border: 1px solid #c9a96e;
	padding: 10px 14px 10px 14px;
	height: 42px;
	border-radius: 4px;
	width: 100%;
}