//@import "../default/_fonts.scss";

html {
	scrollbar-gutter: stable;
}
body {
	overflow-x: hidden;
	font-family: "Inter_18pt-Regular", sans-serif;
	background: #ffffff;
}
.container {
	max-width: 1304px;
}
input::-webkit-autofill,
input::-webkit-contacts-auto-fill,
input::-webkit-credentials-auto-fill {
	opacity: 0 !important; /* Робить автозаповнення невидимим */
	background-color: transparent !important;
	color: inherit !important;
}
.filter select {
	-webkit-appearance: none;
	appearance: none;
}
.wrapper {
	flex: 1 0;
}
