.profile-header__title {
	font-family: 'CormorantGaramond-SemiBold', serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 100%;
	color: #0f0f0f;
	padding: 32px 0 28px;
	background: #fff;
	@media screen and (max-width: 768px) {
		padding: 24px 0 18px;
	}
}