.timer {
	text-align: center;
	display: flex;
	& .count {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 62px;
		@media screen and (max-width: 425px){
			width: 70px;
		}
		&:last-of-type {
			& .count-number:after {
				display: none;
			}
		}
	}
	& .count-days,
	& .measure{
		display: block;
	}
	& .count-number{
		font-family: 'EBGaramond-Medium', serif;
		font-weight: 500;
		font-size: 48px;
		line-height: normal;
		color: #c9a96e;
		position: relative;
		@media screen and (max-width: 425px) {
		}
		&:after {
			content: ':';
			font-family: 'Inter_18pt-Bold', sans-serif;
			opacity: 0.6;
			font-weight: 700;
			font-size: 32px;
			color: #c9a96e;
			position: absolute;
			top: calc(50% - 18px);
			right: -5px;
			line-height: 100%;
			@media screen and (max-width: 425px){
				top: calc(50% - 17px);
			}
		}
	}
	& .measure{
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 0.1em;
		color: #b8b2ab;
		text-transform: uppercase;
		@media screen and (max-width: 425px){
			font-size: 14px;
		}
	}
}